<!DOCTYPE html>
<html lang="en">
<head>
  <title>Grayscale Bitcoin Shares History</title>
  <meta charset="UTF-8">
  <meta name="author" content="Bofavom">
  <meta name="keywords" content="grayscale,bitcoin,shares,history">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Load required Bootstrap and BootstrapVue CSS -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

  <!-- Load polyfills to support older browsers -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

  <!-- Load Vue followed by BootstrapVue -->
  <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
</head>

<body>
  <div id="title-app">
    <b-container fluid>
      <h2 v-if="isLoading">Loading...</h2>
      <h2 v-if="!isLoading" style="margin-top: 0.3em;">Grayscale Bitcoin Shares History</h2>
      <b-alert v-if="!isLoading" show variant="info">
        <h5 class="alert-heading">Update 02/07/2020</h5>
        <p class="mb-0">Grayscale updates its page at 0:00 UTC so when this tool got the info, it gets the data of the previous day and it saves with the current date (+1 day error).</p>
        <p class="mb-0">To resolve this problem, now the script subtracts one day. Also have been edited the previous records manually.</p>
      </b-alert>
    </b-container>
  </div>

  <div id="table-app">
    <b-table striped hover responsive :items="entries" :fields="fields"></b-table>
  </div>


  <script>
    class GrayscaleEntry {

      bitcoins
      diff

      constructor(date, shares, btcPerShare) {
        this.date = date
        this.shares = shares
        this.btcPerShare = btcPerShare
      }
    }


    const xmlHttp = new XMLHttpRequest()
    xmlHttp.open('GET', 'https://raw.githubusercontent.com/bofavom/grayscale_bitcoin_shares/master/grayscale_bitcoin.csv', true)

    xmlHttp.onreadystatechange = (event) => {
      if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
        const plainCsv = xmlHttp.responseText
        buildEntriesFromCsv(plainCsv)
      }
    }

    xmlHttp.send()
    

    const buildEntriesFromCsv = (plainCsv) => {
      const lines = plainCsv.split('\n')
      lines.shift()

      const entries = []

      for (line of lines) {
        const values = line.split(',')
        if (values.length >= 3) {
          const dateParts = values[0].split('/')
          const date = new Date(dateParts[2], dateParts[1] - 1, dateParts[0])
          const entry = new GrayscaleEntry(date, values[1], values[2])
          entries.push(entry)
        }
      }

      entries.sort()

      for (entry of entries) {
        const index = entries.indexOf(entry)
        const bitcoins = (parseFloat(entry.shares) * parseFloat(entry.btcPerShare)).toFixed(8)
        entries[index].bitcoins = bitcoins
        
        if (index > 0) {
          entries[index].diff = (bitcoins - entries[index - 1].bitcoins).toFixed(8)
        }
      }

      entries.reverse()
      setTableEntries(entries)
    }
    
    const setTableEntries = (entries) => {
      tableApp.entries = entries
      titleApp.isLoading = false
    }

    const titleApp = new Vue({
      el: '#title-app',
      data: {
        isLoading: true
      }
    })

    const tableApp = new Vue({
      el: '#table-app',
      data: {
        entries: [],
        fields: [
          { key: 'date', sortable: true, formatter: (value) => value.toLocaleDateString() },
          { key: 'shares', label: 'Shares Outstanding', sortable: true },
          { key: 'btcPerShare', label: 'Bitcoin per Share', sortable: true },
          { key: 'bitcoins', sortable: true },
          { key: 'diff', sortable: true }
        ]
      }
    })
  </script>
</body>
</html>
